@import '../stylesheets/_variables';
.project {
  flex: 1 0 80%;
  header {
    grid-template-columns: 33% auto;
    h1 {
      max-width: 36rem;
    }
    p {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
      max-width: 36rem;
      color: rgba($light, 0.6);
      font-weight: 300;
      font-size: 2rem;
      line-height: 140%;
    }
  }
  article {
    padding: 8rem 0;
  }
  .concept-badge {
    display: inline-block;
    margin-top: 2rem;
    background-color: $green;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 0.75rem 0.25rem;
    & + p {
      margin-top: 0.5rem;
    }
  }
}
