.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-item {
  flex: 1;
}

.flex-item-2 {
  flex: 2;
}

.flex-item-3 {
  flex: 3;
}

.flex-item-4 {
  flex: 4;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

// PADDING

$spacing-rems: 1 2 4 8;

@each $space in $spacing-rems {
  .pr-#{$space} {
    padding-right: #{$space}rem;
  }
  .pl-#{$space} {
    padding-left: #{$space}rem;
  }
  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }
  .py-#{$space} {
    padding-top: #{$space}rem;
    padding-bottom: #{$space}rem;
  }
  .px-#{$space} {
    padding-left: #{$space}rem;
    padding-right: #{$space}rem;
  }
  .mr-#{$space} {
    margin-right: #{$space}rem;
  }
  .ml-#{$space} {
    margin-left: #{$space}rem;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }
  .mt-#{$space} {
    margin-bottom: #{$space}rem;
  }
  .my-#{$space} {
    margin-top: #{$space}rem;
    margin-bottom: #{$space}rem;
  }
  .mx-#{$space} {
    margin-left: #{$space}rem;
    margin-right: #{$space}rem;
  }
}

.pt-half {
  padding-top: 0.5rem;
}

// MARGIN

.m-auto {
  margin: auto;
}

.mt-4 {
  margin-top: 4rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-max {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin grid-container-base {
  display: grid;
  column-gap: 4rem;
  row-gap: 4rem;
}

@mixin grid-container-base-mobile {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
}

@mixin thin-column-gap {
  column-gap: 2rem;
}

@media (min-width: 1201px) {
  .dt-grid-1-2 {
    @include grid-container-base;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'area1 area2';
    &.cols-30-70 {
      grid-template-columns: auto 70%;
    }
    &.cols-40-60 {
      grid-template-columns: auto 60%;
    }
    &.cols-60-40 {
      grid-template-columns: 60% auto;
    }
    &.cols-70-30 {
      grid-template-columns: 70% auto;
    }
  }

  .dt-grid-1-3 {
    @include grid-container-base;
    column-gap: 0;
    grid-template-columns: 1fr 1.25fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'area1 area2 area3';
    .gridarea-1,
    .gridarea-2,
    .gridarea-3 {
      align-self: center;
    }
  }

  .dt-grid-2-2 {
    @include grid-container-base;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'area1 area2'
      'area3 area4';
  }

  .dt-grid-2-4 {
    @include grid-container-base;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'area1 area2 area3 area4'
      'area5 area6 area7 area8';
  }

  .dt-grid-2-5 {
    @include grid-container-base;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'area1 area2 area3 area4 area5'
      'area6 area7 area8 area9 area10';
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

@mixin corner-icon($name, $top-or-bottom, $left-or-right) {
  .icon-#{$name} {
    background-image: url('/icons/#{$name}.svg');
    position: absolute;
    #{$top-or-bottom}: 0;
    #{$left-or-right}: 0;
  }
}

.gridarea-1 {
  grid-area: area1;
}

.gridarea-2 {
  grid-area: area2;
}

[class^='gridarea-'] {
  + :first-child {
    margin-top: 2rem;
  }
}

.gridarea-3 {
  grid-area: area3;
}

.gridarea-4 {
  grid-area: area4;
}

.gridarea-5 {
  grid-area: area5;
}

.gridarea-6 {
  grid-area: area6;
}

.gridarea-7 {
  grid-area: area7;
}

.gridarea-8 {
  grid-area: area8;
}

.gridarea-9 {
  grid-area: area9;
}

.gridarea-10 {
  grid-area: area10;
}

.col-span-2 {
  grid-column: span 2;
}

.row-span-2 {
  grid-row: span 2;
}

// FILTERS

.drop-shadow {
  filter: drop-shadow(-0.5rem 1rem 2rem rgba(0, 0, 0, 0.4))
    drop-shadow(-1rem 2rem 4rem rgba(0, 0, 0, 0.2))
    drop-shadow(-0.5rem 2rem 5rem rgba(0, 0, 0, 0.1));
}

// TEXT

.text-no-wrap {
  white-space: nowrap;
}

// BORDERS

.border-bottom-dark {
  border-bottom: 1px solid rgba($light, 0.2);
}

// TABLET

@media (max-width: 1200px) {
  .my-max {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .flex-row,
  .flex-column {
    display: block;
  }
  .mb-grid-1-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .mb-grid-2-1 {
    @include grid-container-base-mobile;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'area1' 'area2';
  }
  .mb-grid-4-2 {
    @include grid-container-base-mobile;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 'area1 area2' 'area3 area4' 'area5 area6' 'area7 area8';
  }
  .mobile-images {
    [class^='gridarea-'] {
      figure {
        max-width: 75%;
      }
    }
  }
  .rows-70-30 {
    grid-template-rows: 70% auto;
  }
  html {
    font-size: 12px;
  }
}

.rows-auto {
  grid-template-rows: auto;
}
