.flex-row {
  display: flex;
}

.flex-item {
  flex: 1;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-8 {
  padding-right: 8rem;
}

.m-auto {
  margin: auto;
}

.mt-4 {
  margin-top: 4rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-8 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

@mixin grid-container-base {
  display: grid;
  column-gap: 4rem;
  row-gap: 4rem;
}

.grid-1-2 {
  @include grid-container-base;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'area1 area2';
}

.grid-2-2 {
  @include grid-container-base;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'area1 area2'
    'area3 area4';
}

.grid-2-4 {
  @include grid-container-base;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'area1 area2 area3 area4'
    'area5 area6 area7 area8';
}

.grid-2-5 {
  @include grid-container-base;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'area1 area2 area3 area4 area5'
    'area6 area7 area8 area9 area10';
  column-gap: 2rem;
  row-gap: 2rem;
}

@mixin corner-icon($name, $top-or-bottom, $left-or-right) {
  .icon-#{$name} {
    background-image: url('/icons/#{$name}.svg');
    position: absolute;
    #{$top-or-bottom}: 0;
    #{$left-or-right}: 0;
  }
}

.gridarea-1 {
  grid-area: area1;
}

.gridarea-2 {
  grid-area: area2;
}

.gridarea-3 {
  grid-area: area3;
}

.gridarea-4 {
  grid-area: area4;
}

.gridarea-5 {
  grid-area: area5;
}

.gridarea-6 {
  grid-area: area6;
}

.gridarea-7 {
  grid-area: area7;
}

.gridarea-8 {
  grid-area: area8;
}

.gridarea-9 {
  grid-area: area9;
}

.gridarea-10 {
  grid-area: area10;
}

// FILTERS

.drop-shadow {
  filter: drop-shadow(-0.5rem 1rem 2rem rgba(0, 0, 0, 0.4))
    drop-shadow(-1rem 2rem 4rem rgba(0, 0, 0, 0.2))
    drop-shadow(-0.5rem 2rem 5rem rgba(0, 0, 0, 0.1));
}

// TEXT

.text-no-wrap {
  white-space: nowrap;
}

// BORDERS

.border-bottom-dark {
  border-bottom: 1px solid rgba($light, 0.2);
}
