@import './_variables';
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 4rem 2rem;
  h3 {
    text-align: center;
    margin: 1rem auto 0;
  }
  p {
    color: rgba($light, 0.6);
    margin-top: 0.5rem;
  }
}
@media (max-width: 1200px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
  }
}
