@use './_variables' as vars;

.projects {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
  p {
    color: rgba(vars.$light, 0.6);
    margin-top: 0.5rem;
  }
}
@media (max-width: 800px) {
  .projects {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }
}
@media (max-width: 1200px) {
  .projects {
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
  }
}
