@import './base';
.footer {
  display: flex;
  padding: 2rem 8rem;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  height: 8rem;
  min-height: 8rem;
  justify-content: center;
  @include overlay-stripes;

  @media (max-width: 1200px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (max-width: 600px) {
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.inner {
  display: flex;
  align-items: center;
  @media (max-width: 600px) {
    align-items: initial;
    flex-direction: column-reverse;
  }
}
.contact {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  > :last-child {
    margin-left: 4rem;
  }
  @media (max-width: 600px) {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}
.icon {
  color: $light;
  font-size: 2rem;
}
