@import './base';

@mixin li-active($color: $green) {
  border-top: 1px solid $color;
  border-bottom: none;
  padding-top: 1rem;
}
.header {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
}
.nav {
  position: relative;
  display: flex;
  padding: 2rem 8rem;
  box-sizing: border-box;
  height: 8rem;
  align-items: flex-end;
  justify-content: center;
  @include overlay-stripes;
}

.ul {
  display: flex;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    padding: 0 1rem;
    color: $green;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    a {
      transition: border-top 300ms;
      padding-bottom: 0;
      @include li-active(rgba($green, 0));
      &.li-active {
        @include li-active(rgba($green, 0.7));
      }
      &:hover {
        @include li-active;
      }
    }
  }
}

.mdfy-simple-logo {
  p {
    font-weight: 400;
    font-size: 2rem;
    color: $green;
    margin: 0;
    margin-bottom: 0.5rem;
    + div:first-of-type {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}

.mdfy-brand-logo {
  position: relative;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2rem;
  height: 4rem;
  margin-right: auto;
  color: $green;
  display: inline-flex;
  &::before,
  &::after {
    overflow: hidden;
    white-space: nowrap;
    transition-property: flex, margin, letter-spacing, font-size, color;
    transition-duration: 500ms;
    margin: 0;
  }
  &::before {
    content: 'marco morales';
    flex: 0 1 92px;
  }
  &::after {
    font-weight: 700;
    content: 'codify';
    flex: 0 1 140px;
  }
  &:hover {
    &::before {
      color: white;
      margin-bottom: auto;
      font-size: 1.5rem;
      content: 'marco morales';
      flex: 0 1 190px;
      letter-spacing: initial;
    }
    &::after {
      margin-left: calc(93px - 180px);
      margin-top: 1.5rem;
      font-size: 2rem;
      content: 'codify the UI';
      flex: 0 1 190px;
    }
  }
}

.logo-link,
.logo-link:hover {
  flex: 1;
  border: none;
  padding: 0;
  height: 2rem;
}

@media (max-width: 1200px) {
  .header {
    nav {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

@media (max-width: 600px) {
  .header {
    nav {
      height: auto;
      align-items: center;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
